.question {
  padding: 20px;
  background: #fff;
}
.question h3 {
  margin: 0;
}
.question h3 a {
  color: #333;
  text-decoration: none;
}
.question h3 a:hover {
  color: rgb(0, 72, 144);
}
.question .urgency_img {
  font-size: 40px;
  width: auto;
  height: auto;
  padding-right: 10px;
}
.question .details p {
  color: #616161;
  margin: 8px 0;
}
.question .metadata {
  font-size: 12px;
  color: #BDBDBD;
}
.question .metadata a {
  color: #616161;
  border-bottom: 1px solid #eee;
  text-decoration: none;
}
