.welcome {
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  overflow:hidden;
}
.welcome_msg {
  padding: 40px 20px;
  top: 100px;
  background-color: white;
  width: 265px;
  margin-left: auto;
  margin-right: auto;
}
#welcome_icon {
  height: 200px;
  width: 200px;
  margin-right: 10px;
  margin-top: -100px;
  margin-bottom: -100px;
}
#btn {
  background-color: rgb(241, 92, 34);
  margin-left: 200px;
  margin-top: 10px;
  margin-bottom: -30px;
  color: white;
}
