/** main content */
:host /deep/ core-header-panel[main] {
  background-color: rgb(0, 72, 144);
}
.content {
  padding: 20px;
}
/** sidebar */
core-header-panel core-item {
  padding: 6px 12px;
  line-height: 40px;
}
core-scaffold::shadow core-toolbar {
  background: rgb(241, 92, 34);
  color: rgb(255, 255, 255);
}
core-header-panel::shadow #mainContainer {
  background: rgb(241, 92, 34);
  color: rgb(255, 255, 255);
}
core-header-panel core-item:hover {
  border-right: 8px solid rgb(0, 72, 144);
}
core-header-panel core-item[active] {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 72, 144);
}
