/** main content */
:host /deep/ core-header-panel[main] {
  background-color: rgb(0, 72, 144);
}
.content {
  padding: 20px;
}

/** sidebar */
core-header-panel core-item {
  padding: 6px 12px;
  line-height: 40px;
}
core-scaffold::shadow core-toolbar {
  background: rgb(241, 92, 34);
  color: rgb(255, 255, 255);
}

core-header-panel  core-item:not(:first-of-type) {
  border-top: 1px solid rgb(241, 92, 34);
}
core-header-panel core-item:hover,
core-header-panel core-item:focus {
  background-color: #fcfcfc;
  color: rgb(0, 72, 144);
}
core-header-panel core-item[active] {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 72, 144);
}
/*

:host {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#core_drawer_panel {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#section {
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
  background-color: rgb(250, 250, 250);
}
#mainpanel {
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(221, 221, 221);
}
#core_header_panel {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  background-color: rgb(0, 72, 144);
}
#core_toolbar {
  color: rgb(255, 255, 255);
  background-color: rgb(241, 92, 34);
}
#core_header_panel1 {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  background-color: rgb(241, 92, 34);
}
#core_toolbar1 {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 72, 144);
}
#section3 {
  background-image: linear-gradient(rgb(214, 227, 231), rgb(173, 216, 230));
}
.link {
  font-size: 16px;
}
#user_card {
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
  background-color: rgb(255, 255, 255);
}
#settings {
  left: auto;
  top: auto;
  position: relative;
}
#core_card {
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
  padding: 20px;
  opacity: 1;
  position: relative;
  width: auto;
  height: auto;
  background-color: rgb(255, 255, 255);
}
body {
  font-family: "RobotoDraft";
  font-weight: 300;
}


body /deep/ core-toolbar {
  background-color: #03a9f4;
  color: #fff;
}

#drawer_selections {
  color: #fff;
  margin: 10px 0 0 0;
}

#drawer_selections > paper-item {
  transition: all 600ms ease-in-out;
}

paper-item a {
  text-decoration: none;
  color: #fff;
  margin-left: 5px;
}

#drawer_selections > paper-item.core-selected {
  background: #01579b;
}

@media all and (max-width: 480px) {
  core-animated-pages {
    width: 100%;
    height: 100%;
  }
}
.menu {
  color: #000000;
}
*/
